extends layouts/index.pug

block datos
    div(class="jumbotron")
        div(class="table")
            table(class="thead-dark")
                tr
                        th='Nombre'
                        th='Precio'
                        th='Foto'
                        each producto in productos
                            tr
                            td=producto.nombre
                            td=producto.precio
                            td
                                img(width="30" src=producto.foto alt="no encontrado")
        a(href="/" type="button" class="btn btn-primary")="Cargar producto"
        
